#toggle-toc-icon,
#refresh-toc-icon {
  position: fixed;
  top: 10px;
  right: 320px;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
  margin-right: 10px;
}

#refresh-toc-icon {
  right: 280px;
}

#toggle-toc-icon:hover,
#refresh-toc-icon:hover {
  background-color: #444;
}

#chat-toc-container {
  position: fixed;
  top: 50px;
  right: 10px;
  width: 300px;
  max-height: 90%;
  overflow-y: auto;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1000;
  display: none; /* Default to hidden, shown when toggle icon is clicked */
}

.toc-subentry {
  padding-left: 10px;
  margin: 5px 0;
}

.expand-icon {
  cursor: pointer;
  margin-right: 5px;
}
